
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
<div>
    Merhaba
</div>
<h2>SELAM</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Yapıldı.</td>
        <td>True</td>
        <td>
            <button class="btn btn-success">Güncelle</button>
            <button class="btn btn-warning">Düzenle</button>
            <button class="btn btn-danger">Sil</button>
        </td>
        
    </tr>
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>